<!DOCTYPE html>
<html>
    <head>
        <link href="about.css" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <script src="about.js"></script>
    </body>
</html>