<div class="newpost">
  
  <h2 class="signinheader">New Blog Post</h2>
  <form method="POST" action="/forums/topic/<%= id %>">

    <label>Content:<br/></label>
    <textarea name="content" rows="10" required></textarea>
<br/>
    <input type="submit" value="Post"/>
  </form>
  
</div>