<div class="signin">
  <h1 class="signinheader">Sign In</h1>
  <form method="POST">

    <div class="error-message">
      <%= errorMessage %>
    </div>

    <label for="email">Username:</label>
    <input type="text" name="email" required/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" name="password" required/>
<br/>
    <input type="submit" value="Sign In"/>

  </form>
</div>